:root {
  --main-bg-theme-dark : rgb(30,33,36);
  --main-bg-theme-light : rgb(40,43,48);
  --main-bg-theme-dark-gray : rgb(44, 47, 52);
  --main-bg-theme-light-gray : rgb(66,69,73);
  --main-bg-theme-blue : rgb(114,137,218);
  --main-bg-theme-blue-light : rgb(140, 162, 242);
  
}


.Main {
  display: flex;
  position: relative;
  flex-direction: row;
  width : 100vw;
  height : 100vh;
  justify-content: start;
  align-items: start;
  background-color: var(--main-bg-theme-dark);
}

.ServerList {
  width : 4rem;
  display: flex;
  flex-direction: column;
  gap : 10px;
  align-items: center;
}
.ServerList hr {
  width : 100%;
}
.ServerList > :first-child {
  margin-top: 1rem;
}

.ServerList button {
  color : white;
}

.History {
  width : auto;
  height : 100%;
  flex : 1;
  background-color: var(--main-bg-theme-dark-gray);
  display: flex;
  position: relative;
  flex-direction: column;
}
.History-List {
  display: flex;
  flex-direction: row;
  width : 100%;
  flex : 1;
}

.Action {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width : 100%;
  height : 3rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap : 10px;
  background-color: var(--main-bg-theme-light-gray);
}
.Action > *{
  height : 2rem;
}
.Action > button{
  clip-path: circle(50%);
  width : 1.5rem;
  height : 1.5rem;
  border : none;
  background-color: gray;
}
.Action > button:hover {
  background-color: rgb(157, 157, 157);
}
.Action > button:active {
  background-color: gray;
}
.Action > input {
  width : 90%;
  background-color: transparent;
  border : none;
  caret-color: white;
  color : white;
}
.Action > input:focus {
  outline: none;
}

.Upload {
  display: none;
}

.UploadsDisplay {
  display: flex;
  position : absolute;
  flex-direction: row;
  height : 10rem;
  width : 100%;
  background-color: var(--main-bg-theme-dark);
  top : calc(100% - 15rem);
  border-radius: 10px;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  gap : 5px;
}
.UploadsDisplay > :first-child {
  margin-left: 10px;
}
.UploadsDisplay > :last-child {
  margin-right: 10px;
}


/* Target the scrollable element */
.UploadsDisplay::-webkit-scrollbar {
  height : 10px;
}

/* Target the scrollbar thumb */
.UploadsDisplay::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-theme-light-gray); /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

/* Target the scrollbar track */
.UploadsDisplay::-webkit-scrollbar-track {
  background-color: var(--main-bg-theme-blue); /* Track color */
  clip-path: circle(50%);
  border-radius: 10px;
}

.UploadVideoContainer {
  position: relative;
}
.UploadVideoContainer > :last-child{
  display: none;
  position: absolute;
  width : 30px;
  height : 30px;
  top : 0;
  left : calc(100% - 30px);
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-theme-blue);
  border : none;
  border-radius: 10px;
}
.UploadVideoContainer > :last-child:active{
  background-color: var(--main-bg-theme-blue-light);  
}


.UploadVideoContainer:hover > :last-child{
  display: flex;
  font-size: large;
}
.UploadVideoContainer:not(:hover):has(video)::after {
  position: absolute;
  width : 1rem;
  height : 1rem;
  content: '\25B6';
  left : calc(50% - .5rem);
  top : calc(50% - .5rem);
  color : white;
  border-color: back;

}
.UploadVideo {
  height : 6rem;
  width : 6rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.Display,.Display .Clipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 3rem;
  width : 3rem;
}
.Display .Clipping {
  background-color: var(--main-bg-theme-light-gray);
  clip-path: circle(50%);
}
.Display:hover:not(.DisplayOnly)::before,.Display.Selected:not(.DisplayOnly)::before {
  position: absolute;
  content : ' ';
  left : -.4rem;
  border-radius: 10px;
  width : 10px;
  height : 2rem;
  background-color: white;
}
.Display  button {
  background-color: none;
  color : white;
  text-align: center;
  border: none;
  background: none;
  width : 100%;
  height : 100%;
}

.Display.Hover .Clipping {
  animation-name: grow-clip;
  animation-duration: .4s;
  clip-path: circle(60%);
}
.Display.Unhover .Clipping {
  position: relative;
  animation-name: grow-clip;
  animation-duration: .4s;
  animation-direction: reverse;
  clip-path: circle(50%);
}



@keyframes grow-clip {
  from {
    clip-path: circle(50%);
  }
  to {
    clip-path: circle(60%);
  }
}

.Conversation {
  width : 15rem;
  height : 100%;
  background-color: var(--main-bg-theme-light);
  border-top-left-radius: 25px;
  display: flex;
  flex-direction: column;
}
.Conversation > :last-child {
}
.Conversation-Scroller {
  width : 100%;
  flex : 1;
  display: flex;
  flex-direction: column;
}
.Conversation-Scroller > :first-child {
  margin-top: 1rem;
}

.Conversation-Scroller button {
  background-color: transparent;
  color : white;
  border : none;
  text-align: start;
  padding-left: 10px;
}


.Profile {
  display: flex;
  flex-direction: row;
  padding-bottom: .5rem;
  padding-top : .5rem;
  background-color: var(--main-bg-theme-dark);
  gap : 5px;
}
.Profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  color : rgb(203, 203, 203);
}

.ExpandingList {

}
.ExpandingList-body{

}

.Description {
  position: relative;
  width : 25rem;
  height : 100%;
  background-color: var(--main-bg-theme-light);
}

.ProfileForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  width : 15rem;
  height : 20rem;
  left : calc(50% - 7.5rem);
  top : calc(50% - 10rem);
  background-color: var(--main-bg-theme-light-gray);
  flex-wrap: wrap;;
}

.ProfileForm label {
  color : White;
}
.ProfileForm > * {
  margin-left: .5rem;
  margin-right: .5rem;
}
.ProfileForm > .Display {
  align-self: center;
}
.ProfileForm > input[type=submit] {
  margin-top: auto  ;

}
.ProfileForm > input[type=reset] {
  margin-bottom : 10px;
}
.ProfileForm > input[type=reset],.ProfileForm > input[type=submit] {
  display: flex;
  flex-basis: .5;
  height : 1.5rem;
}